/* Custom CSS */
/* STEP 12: Using your browser's DOM Inspector, figure out how the default .carousel-caption is positioned with CSS, and change it */
.carousel-caption {
  /* 2. Using custom.css, reposition the .carousel-caption so that it appears back down
	at the bottom of each slide.*/
  top: 0px;
}

.carousel-indicators {
  /* LAB 3. Reposition the .carousel-indicators so that they appear at the top of each slide. */
  top: 0px;
}
/* STEP 13: View the result in the browser, then head back to index.html */
/* The below class and animation keyframes are used by the JavaScript */
.zoomit {
  animation: zoom-in-out 0.5s;
}
@keyframes zoom-in-out {
  from {
    transform: none;
  }
  50% {
    transform: scale(1.4);
    transform-origin: center top;
  }
  to {
    transform: none;
  }
}
